@model List<KommunSkatter.Models.Kommun>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KommunSkatter</h1>
    <p>Välkommen till Kommunala skattesatser för diverse år.</p>
    
</div>